ChurchBeamRestService/node_modules
SongProjector/Pods/
SongProjector/ChurchBeam.xcworkspace/xcuserdata/
SongProjector/ChurchBeam.xcworkspace/xcuserdata/leovanderzee.xcuserdatad/UserInterfaceState.xcuserstate
SongProjector/ChurchBeam.xcworkspace/xcshareddata/swiftpm
firebase-fuctions/package-lock.json
firebase-fuctions/package.json
