<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280588048480-j8kmllr4jk7h7ucopoh0ii31c3mavjl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280588048480-j8kmllr4jk7h7ucopoh0ii31c3mavjl9</string>
	<key>API_KEY</key>
	<string>AIzaSyBdIdFL3Px3jqdKvt73ZczZk66n6XRo0HQ</string>
	<key>GCM_SENDER_ID</key>
	<string>280588048480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iozee.ChurchBeam</string>
	<key>PROJECT_ID</key>
	<string>churchbeam-7a169</string>
	<key>STORAGE_BUCKET</key>
	<string>churchbeam-7a169.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:280588048480:ios:015b08b6291e1e62c3cb05</string>
	<key>DATABASE_URL</key>
	<string>https://churchbeam-7a169.firebaseio.com</string>
	<key>GOOGLE_ANALYTICS_REGISTRATION_WITH_AD_NETWORK_ENABLED</key>
	<false/>
</dict>
</plist>
